/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/04/18, 11:04:12
    Author     : nextn
*/

header{
    background-color: #03f;
    color: #ffffff;
    padding: 0px;
    margin-top: 0px;
    height: 45px;
}

ul#naviHome{
    margin: 0px;
    padding: 0px;
}

ul#naviHome li{
    list-style: none;
    float: left;
    height: 25px;
}
ul#naviHome li a{
    font-family: cursive;
    display: inline-block;
    width: 150px;
    height: 34px;
    text-align: center;
    text-decoration: none;
    line-height: 34px;
    background-color: #0000cc;
    color: #fff;
}

ul#naviHome li a:hover{
    color: #0ff;
    text-align: center;
    text-decoration: none;
    line-height: 34px;
    background-color: #fff;
    border: solid;
    border-width: 1px; 
    border-color: #00ffff;
    display: block;
    z-index: -1;
}