/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/04/18, 11:04:12
    Author     : nextn
*/

header{
    background-color: #03f;
    color: #ffffff;
    padding: 0px;
    margin-top: 0px;
    height: 45px;
}

